name: CI

on:
  push:
    branches: [master, main, develop]
  pull_request:
    branches: [master, main, develop]

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install deps (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-13 libspdlog-dev wget
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100
          wget -qO- https://github.com/Kitware/CMake/releases/download/v3.28.1/cmake-3.28.1-linux-x86_64.tar.gz | sudo tar xz -C /usr/local --strip-components=1

      - name: Install deps (macOS)
        if: runner.os == 'macOS'
        run: brew install cmake spdlog

      - name: Build and test
        run: |
          cmake -B build -S . -DCMAKE_BUILD_TYPE=Release
          cmake --build build
          ctest --test-dir build --output-on-failure

  lint:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update && sudo apt-get install -y clang-format-15
      - run: find src -name '*.cpp' -o -name '*.hpp' | xargs clang-format-15 --dry-run --Werror

  sanitizers:
    name: ASan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-13 libspdlog-dev wget
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100
          wget -qO- https://github.com/Kitware/CMake/releases/download/v3.28.1/cmake-3.28.1-linux-x86_64.tar.gz | sudo tar xz -C /usr/local --strip-components=1
      - name: Build and test
        run: |
          cmake -B build -S . -DENABLE_ASAN=ON -DCMAKE_BUILD_TYPE=Debug
          cmake --build build
          ctest --test-dir build --output-on-failure

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-13 libspdlog-dev wget lcov
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100
          wget -qO- https://github.com/Kitware/CMake/releases/download/v3.28.1/cmake-3.28.1-linux-x86_64.tar.gz | sudo tar xz -C /usr/local --strip-components=1
      - name: Build and test
        run: |
          cmake -B build -S . -DENABLE_COVERAGE=ON -DCMAKE_BUILD_TYPE=Debug
          cmake --build build
          ctest --test-dir build --output-on-failure
      - name: Generate coverage
        run: |
          lcov --capture --directory build --output-file build/coverage.info --rc lcov_branch_coverage=1
          lcov --remove build/coverage.info '/usr/*' '*/_deps/*' --output-file build/coverage.info

  build-modules:
    name: C++ modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build g++-13 libspdlog-dev wget
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100
          wget -qO- https://github.com/Kitware/CMake/releases/download/v3.28.1/cmake-3.28.1-linux-x86_64.tar.gz | sudo tar xz -C /usr/local --strip-components=1
      - name: Build and test
        run: |
          cmake -G Ninja -B build -S . -DENABLE_CPP_MODULES=ON
          cmake --build build
          ctest --test-dir build --output-on-failure
